<div style="width: 100%; margin-bottom: 1rem; display: flex;" class="search-choose-type">
    <div id="choose-type-Post" class="search-choose-type-block"><a class="search-choose-type-link" href="{% url 'search_results_post' %}?q={{ query }}">Post</a></div>
    <div id="choose-type-Work" class="search-choose-type-block"><a class="search-choose-type-link" href="{% url 'search_results_work' %}?q={{ query }}">Work</a></div>
    <div id="choose-type-User" class="search-choose-type-block"><a class="search-choose-type-link" href="{% url 'search_results_user' %}?q={{ query }}">User</a></div>
</div>

